.background-img {
  height: 100vh;
  width: 98vw;
}

.hero {
  height: 100vh;
  color: white;
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Adjust the opacity and color as needed */
  z-index: 0;
}

.default-movie-content {
  position: absolute;
  top: 30%;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.default-movie-content h1 {
  font-size: 2.5rem;
}

.default-movie-content p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
}
