.now-showing {
  padding: 7% 10%;
  color: white;
}

.map-showing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.each-movie-showing {
  margin: 4% 5%;
}

.each-movie-showing img {
  width: 289px;
  height: 350px;
  border: 3px solid #e77207;
}

.each-movie-showing h1 {
  font-size: 1.3rem;
  font-weight: 400;
}

span {
  font-size: 1rem;
}

.show-more-button-div {
  display: flex;
  margin-top: 3%;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .map-showing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  .now-showing {
    /* padding: 7% ; */
    color: white;
  }
  .map-showing {
    grid-template-columns: 80%;
    /* grid-template-rows: repeat(auto); */
  }
}
