.quick-booking {
  margin: 5%;
  background-color: #1c1b1b;
  padding: 7% 5%;
  color: white;
  display: grid;
  gap: 5%;
}

.quick-booking form {
  display: grid;
  justify-content: center;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: auto auto;
  gap: 10%;
}

.form select,
input {
  border-radius: 10px;
  width: 100%;
  height: 70px;
  font-size: 1.5rem;
  margin-top: 10px;
  border: #e77207 1px solid;
  background-color: transparent;
  color: white;
}

select {
  font-size: 1rem;
  border: 5px solid #e77207;
  border-radius: 30px 30px 30px 0px;
}

option {
  font-size: 1rem;
}

.form select:focus,
input:focus {
  border: white 1px solid;
  background-color: #1c1b1b;
}

input {
  background-color: #e77207;
  cursor: pointer;
}

.submit-quick-booking-button {
  background-color: #e77207;
  border: none;
}

.submit-quick-booking-button:hover {
  background-color: white;
  color: #1c1b1b;
}

@media screen and (max-width: 900px) {
  .quick-booking {
    margin: 0;
  }
  .quick-booking form {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto auto auto;
    gap: 10%;
    margin: 0;
  }
}

@media screen and (max-width: 750px) {
  .quick-booking form {
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin: 0;
  }
}
