.booking-hero {
  position: relative;
}

.booking-watch-trailer-btn {
  position: absolute;
  top: auto;
  bottom: 10%;
  left: auto;
  right: 10%;
}

.movie-content {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 3%;
  padding: 5% 10%;
  background-color: #1c1b1b;
  /* margin-bottom: 8%; */
}

hr {
  width: 0;
}

.location,
.select-date,
.select-theatre {
  padding: 2% 10%;
}

.location h1,
.select-date h1,
.select-theatre h1 {
  font-size: 1.5rem;
  font-weight: 100;
  padding-bottom: 1rem;
}

.location select,
.theatre select {
  width: 70%;
  height: 50px;
  border: 3px solid #e77207;
  border-radius: 30px 30px 30px 0px;
  background-color: #1c1b1b;
  color: white;
  padding: 0 2%;
}

.location {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.select {
  display: flex;
  gap: 2%;
  align-items: center;
  padding: 0 15%;
}

.select input {
  background-color: transparent;
  border: none;
  margin-top: 0;
  font-size: 1.3rem;
  font-weight: 100;
  height: fit-content;
}

.select hr {
  height: 20px;
}

.select-time {
  border: 1px solid #ebebeb;
  border-radius: 30px;
  padding: 5%;
  margin: 3% 5% 0;
}

.time input {
  background: transparent
    linear-gradient(
      150deg,
      #e77207a8 0%,
      #fb4e8004 80%,
      #ff4d8000 100%,
      #000000 100%
    )
    0% 0% no-repeat padding-box;
}

.clock {
  display: flex;
  align-items: center;
  gap: 5%;
  padding-top: 20px;
}

.clock input {
  width: 80px;
}

@media screen and (max-width: 900px) {
  .movie-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .select {
    padding: 0;
    font-size: 0.8rem;
  }

  .location select,
  .theatre select {
    width: 60%;
  }

  .select input {
    padding: 0;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 750px) {
  .quick-booking form {
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin: 0;
  }
}
