header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 50px;
  align-items: center;
  padding: 0 119px;
  font-size: 12px;
}

nav {
  display: flex;
  gap: 50px;
  align-items: center;
}

.logo {
  width: 30%;
  color: #e77207;
}

.cart a {
  color: white;
  text-decoration: none;
}
.navlink {
  text-decoration: none;
  color: white;
}

.search-icon {
  fill: white;
  width: 20px;
}

@media screen and (max-width: 586px) {
  header {
    padding: 0 11px;
  }
  nav {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
