.title-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5%;
}

.title-div div {
  display: flex;
  gap: 10px;
}

.title-div div h5 {
  font-size: 0.8rem;
  font-weight: 400;
  border: 1px solid #e77207;
  border-radius: 10px;
  padding: 8px 10px;
}

.title-div p {
  font-size: 0.6rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
}

.filled-information {
  display: flex;
  flex-direction: column;
  padding: 5% 20%;
  background: #1c1b1b;
  gap: 20px;
}

.filled-information div {
  display: flex;
  justify-content: space-between;
}

.filled-information hr {
  width: 100%;
}

.ticket-table {
  padding: 5% 20%;
}

table {
  border: 1px solid white;
  width: 100%;
  border-collapse: collapse;
  border-radius: 30px 30px 30px 0px;
  opacity: 0.36;
  border: 2px solid #ffffff;
}

th,
td {
  border: 1px solid white;
  padding: 20px;
  opacity: 1;
}

.edit-pen {
  position: relative;
  padding: 0 0 50px;
}

.edit-pen svg {
  position: absolute;
  right: 0;
  width: 30px;
}
